{{- /*
About widget. Show profiles.

@context {current_widget} page: The current widget.
@context {homepage} page: The homepage (= The directory where widget files belong)

@example: {{- partial "widgets/about.html" (dict "current_widget" . "homepage" $homepage) }}
*/}}

{{- $current_widget := .current_widget }}
{{- $homepage := .homepage }}

  
{{/*  About widget  */}}
{{- with $current_widget }}
  {{/*  Show photo if exists  */}}
  {{- with $homepage.Resources.Get .Params.photo.file }}
    <div class="widget-content-first">
      <aside class="about-photo-container">
        {{- $photo := .Fill "300x300 Smart" }}
        {{- $classes := "about-photo" }}
        {{- if eq $current_widget.Params.photo.shape "circle" }}
          {{- $classes = print $classes " about-photo-circle" }}
        {{- end }}
        <img src="{{ $photo.RelPermalink }}" 
          class="{{ $classes }}"
          width=300 height=300
        >
      </aside>
    </div>
  {{- end }}
  
  {{/*  Content of the about widget  */}}
  <div class="widget-content-second">
    <h2 class="widget-heading">{{- .Title }}</h2>
    {{- .Content }}
  </div>
{{- end }}