{{- /*
Pagination widget. 

@context {.} page: The current widget.

@example: {{- partial "widgets/blank.html" $current_widget }}
*/}}

{{/*  Pagination widget  */}}

{{- with $current_widget := . }}
  <div class="widget-content-first">
    <h2 class="widget-heading">{{- .Title }}</h2>
  </div>
  <div class="widget-content-second">
    {{- with .Site.GetPage .Params.directory }}
      {{- range first (default 3 $current_widget.Params.pagination) .Pages.ByDate.Reverse }}
        {{- $attrs := dict "href" (or .Params.external_link .RelPermalink) "class" "pages-link" }}
        {{- if .Params.external_link }}
          {{- $attrs = merge $attrs (dict "target" "_blank") }}
        {{- end }}
        <div class="pages-container">
          <h3><a 
            {{- range $k, $v := $attrs }}
              {{- with $v }}
                {{- printf " %s=%q" $k $v | safeHTMLAttr }}
              {{- end }}
            {{- end -}}
          >{{- .Title }}</a></h3> 
          {{/*  {{- .Date }}  */}}
          {{- with .GetTerms "categories" }}
            {{- with (index . 0) }}
              <div class="pages-category">
                <i class="fa-solid fa-folder pages-category-icon"></i><a href="{{ .RelPermalink }}" class="pages-category-link">{{ .LinkTitle }}</a>
              </div>
            {{- end }}
          {{- end }}
          <div class="pages-summary">
            {{- .Summary }}
          </div>
        </div>
      {{- end }}
      
      {{- $params := (dict "current_widget" $current_widget "url" .RelPermalink ) }}
      {{- partial "widgets/cta.html" $params }}
    {{- end }}
  </div>
{{- end }}
