$breakpoints: (
    "phone_only": "screen and (max-width: 500px)",
    "tablet_phone": "screen and (max-width: 999px)",
    "pc": "screen and (min-width: 1000px)",
) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

$color-text: #333333;
$color-text-footer: #999999;
$color-subtext: #888888;
$color-main: #37ab5c;
$color-link: $color-main;
$color-nav-link: #03451f;
$color-list-background: #efefef;
$color-table-border: #cccccc;
$color-table-background: #f9f9f9;
$color-widget-even-background: #efefef;
$color-pagelist-border: #cccccc;
$color-pagelist-border-hover: #999999;

$height-header-pc: 4rem;
$height-header-tablet: 3.5rem;
$height-header-phone: 3rem;

$max-width-home: 1200px;
$max-width-single: 1000px;

body {
  margin:0px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover {
    text-decoration: underline;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}


code, pre {
  font-family: Consolas, Menlo, Monaco, 'Courier New', monospace;
  font-size: 1rem;
  overflow: auto;
}


.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-text;
}

// ヘッダー部の背景部分
.header-container {
  font-family: Montserrat, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: $color-main;
  position: sticky;
  top: 0px;
  width: 100%;
  margin: 0px;
  line-height: 1;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  z-index: 1000;
  a:hover {
    text-decoration: none;
  }
}

// ヘッダー部の実際の中身
// - ロゴ (header-brand) = トップへのリンク + メニューボタン
// - ナビゲーションメニュー (header-navigation) = メニュー + 言語切り替え
// の2つを並べたflexbox
.header-content {
  display: flex;
  align-items: center;
  max-width: $max-width-home;
  margin: 0px auto;
  padding: 0rem 1rem;
  height: $height-header-pc;
  @include media(tablet_phone) {
    height: $height-header-tablet;
  }
  @include media(phone_only) {
    height: $height-header-phone;
  }
}


// ヘッダーの左側: 以下の2つが入っている.
// - トップページへのリンク (header-title) 
// - 横幅が狭いとき用のメニューボタン (header-button) 
// 
// これら2つを横に並べたflexboxになっている.
// ただし横幅が広いときはメニューボタンは非表示.
.header-brand {
  display: flex;
  align-items: center;
  @include media(tablet_phone) {
    width: 100%;
    justify-content: space-between;
  }
}

.header-title {
  display: block;
  margin: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  transition: 0.5s;
  &:hover {
    color: #03451f;
  }
  @include media(tablet_phone) {
    font-size: 1.5rem;
  }
  @include media(phone_only) {
    font-size: 1.2rem;
  }
}

.header-button {
  display: none;

  @include media(tablet_phone) {
    display: inline-block;
    padding: 0px;
    border: none;
    background: transparent;
    cursor: pointer;
  
    .header-button-icon::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      color: $color-nav-link;
      font: var(--fa-font-solid);
      content: '\f0c9';
      font-size: 1.5rem;
    }
    &.is-active .header-button-icon::before {
      content: '\f00d';
    }
  }
}




// ヘッダーの右側: 
// - 各ページへのメニュー (header-menu-container)
// - 言語切り替えボタン (header-language)
// の2つを並べたflexbox
.header-navigation {
  flex: 1;
  display: flex;
  align-items: center;

  // 横幅が狭いときは, 「メニュー」と「言語切り替え」を縦に並べる
  @include media(tablet_phone) {
    display: none;
    flex-direction: column;

    // メニューを出したときに下にある普通のコンテンツを覆うようにする
    &.is-active {
      display: block;
      position: fixed; 
      top: $height-header-tablet;
      left: 0rem;
      z-index: 100;
      height: calc(100vh - #{$height-header-tablet});
      width: 100%;
      background-color: rgba(0,0,0,0.2);
    }
  }
  
  @include media(phone_only) {
    &.is-active {
      top: $height-header-phone;
      height: calc(100vh - #{$height-header-phone});
    }
  }
}


// 各ページへのナビゲーションメニューの外側
// これ自身はflexboxではない.
// header-menu-container -> header-menu-list (ulタグ) -> header-menu-item (liタグ)
// の順に入れ子になっている.
.header-menu-container {
  display: block;
  font-size: 1rem;
  flex: 1;
  background-color: $color-main;
  padding: 0rem 2rem;
  
  @include media(tablet_phone) {
    padding: 0px;
  }
}


// 各ページへのナビゲーションメニュー
// ulタグにつけるクラス
// liタグを子要素に持つflexbox
.header-menu-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  flex:1;
  align-items: center;
  justify-content: flex-start;


  @include media(tablet_phone) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    padding-bottom: 0.5rem;
  }
}

.header-menu-item {
  list-style-type: none;
  padding: 0rem 0.5rem;
}


  
.header-menu-link {
  display: block;
  color: $color-nav-link;
  padding: 0.5rem 0rem;
  transition: 0.5s;
  @include media(pc) {
    &:hover {
      box-shadow: 0px -2px  #03451f inset;
      // background-color: rgba(0,0,0,0.05);
    }
  }
  
  &.current-page, &.ancestor-page {
    font-weight: 600;
  }

  @include media(tablet_phone) {
    text-align: left;
    padding: 1rem 1rem;
  }
}


// 言語切り替えボタン
// アイコンと言語名を並べたflexbox
// 横幅が狭いときはメニューと一緒に隠すことにした
.header-language {
  background-color: $color-main;
  display: flex;
  align-items: center;
  
  @include media(tablet_phone) {
    border-top: rgba(128,128,128,0.5) 1px solid;
    padding: 1rem;
  }
}

.header-language-icon {
  font-size: 1.2rem;
  color: $color-nav-link;
  padding: 0rem 0.2rem;

  @include media(tablet_phone) {
    font-size: 1rem;
  }
}

.header-language-link {
  display: block;
  font-weight: 400;
  color: $color-nav-link;
  font-size: 1.1rem;
  padding: 0.5rem 0rem;
  transition: 0.5s;
  @include media(pc) {
    &:hover {
      box-shadow: 0px -2px  #03451f inset;
      // background-color: rgba(0,0,0,0.05);
    }
  }
  @include media(tablet_phone) {
    font-size: 1rem;
    padding: 0rem;
  }
}

.main-container {
  flex: 1;
}


.home-heading {
  max-width: $max-width-home;
  margin: 0rem auto;
  padding: 1rem 1rem 0rem;
  font-weight: 400;
  font-size: 3rem;
  @include media(tablet_phone) {
    font-size: 2rem;
  }
}


.widget-container {
  width: 100%;
  &:nth-of-type(even) {
    background-color: $color-widget-even-background;
  }
  
}

.widget-content {
  max-width: $max-width-home;
  margin: 0rem auto;
  padding: 2rem 1rem;
  line-height: 1.75;

  display: flex;
  flex-direction: row;
  @include media(tablet_phone) {  
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  }

}

.widget-heading {
  font-weight: 400;
  font-size: 2rem;

  @include media(tablet_phone) {
    font-size: 1.8rem;
  }
}

.widget-content-first {
  flex: 1;
  width: 100%;
  // background-color: #eeffff;
}


.widget-content-second {
  flex: 2;
  width: 100%;
  // background-color: #eeffee;
  font-size: 1.2rem;

  // @include media(tablet_phone) {
  //   font-size: 1.1rem;
  // }
  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    
    @include media(tablet_phone) {
      font-size: 1.3rem;
    }
  }
}


.about-photo-container {
  text-align: center;
}

.about-photo {
  display: inline;
}

.about-photo-circle {
  border-radius: 50%;
}


.cta-container {
  margin: 1rem 0rem;
  // color: $color-link;
}

.cta-icon {
  margin-left: 0.2rem;
}


.pages-container {
  display: block;
  padding: 1rem;
  transition: 0.3s;
  &:hover {
    // border: #333333 1px solid;
    box-shadow: 0px 0px 5px 0px #999999;
  }
}

.pages-link {
  color: $color-text;
}

.pages-category {
  font-size: 1rem;
}

.pages-category-icon {
  color: #666666;
  // color: #f3d300;
  // -webkit-text-stroke: 1px #ddd;
  margin-right: 0.5rem;
}

.pages-category-link {
  color: #666666;
}

.pages-summary {
  font-size: 1.2rem;
}

.pages-author {
  font-size: 1rem;
  color: $color-subtext;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text-icon {
  font-size: 2rem;
  width: 3rem;
}

.icon-text-text {
  flex: 1;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  line-height: 1.5;
}

.single-container {

  max-width: $max-width-single;
  margin: 0rem auto;
  padding: 2rem 1rem;

  @include media(tablet_phone) {
    padding: 1rem;
  }
      
  h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include media(tablet_phone) {
      font-size: 1.8rem;
      line-height: 1.25;
    }
  }

  .show-date {
    margin: 1rem 0rem;
    @include media(tablet_phone) {
      margin: 0.5rem 0rem;
    }

    .lastmod {
      margin-left: 1rem;
      color: $color-subtext;
    }
  }
  .single-content {
    font-size: 1.25rem;
    line-height: 1.75;
    
    @include media(tablet_phone) {
      font-size: 1.1rem;
      line-height: 1.5;
    }
  
  
    h2 {
      font-weight: 400;
      font-size: 2rem;
      border-bottom: $color-main solid 2px;
      padding-bottom: 0rem;
      margin: 1.5rem 0rem 1rem 0rem;
      @include media(tablet_phone) {
        font-size: 1.5rem;
        line-height: 1.25;
        padding-bottom: 0.2rem;
      }
    }
  
    h3 {
      font-weight: 700;
      font-size: 1.5rem;
      margin: 1rem 0rem 0.5rem 0rem;
      @include media(tablet_phone) {
        font-size: 1.2rem;
        line-height: 1.25;
      }
    }

    p,ol,ul {
      margin-bottom: 1rem;
    }
  
    .publication-list {
      li {
        margin: 0.5rem 0rem;
        &:hover {
          background-color: $color-list-background;
        }
        .invited {
          padding: 0 4px;
          border-radius: 4px;
          background-color: #FFCCCC;
          color: #000;
          font-family: Montserrat, sans-serif;
          /* font-weight: 200; */
        }
      }
      .author, .title, .journal, .DOI {
        display: block;
        // line-height: 1.75;
      }
      .title {
        font-weight: bold;
      }
      .journal_name {
        font-style: italic;
      }
    }

    table {
      border-collapse: collapse;
      margin: 1rem 0rem;
      th,td {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        vertical-align: text-top;
      }
      th {
        border-bottom: $color-table-border 2px solid;
      }
      td {
        border-bottom: $color-table-border 1px solid;
      }
      tbody tr {
        &:nth-of-type(odd) {
          background-color: $color-table-background;
        }
        &:hover {
          background-color: $color-list-background;
        }
      }
    }
  }
}

.page-list-container {

  max-width: $max-width-single;
  margin: 0rem auto;
  padding: 2rem 1rem;

      
  h1 {
    font-weight: 400;
    font-size: 2.5rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    padding: 0rem;

    .page-item {
      list-style-type: none;
      // border: $color-table-border 1px solid ;
      // border-radius: 10%;
      background-color: $color-table-background;
      margin: 2px;
      text-align: center;
      .page-link {
        display:inline-block;
        width: 2rem;
        font-size: 1rem;
        padding: 0.5rem 0rem;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          background-color: $color-list-background;
        }
      }
      &.active a {
        font-weight: bold;
        background-color: $color-main;
        color: #fff;
        &:hover {
          background-color: $color-main;
        }
      }
    }
  }

  .page-list-item {
    outline: $color-pagelist-border 1px solid;
    padding: 1rem;
    margin: 1rem 0rem;
    transition: 0.1s;
    &:hover {
      outline: $color-pagelist-border-hover 2px solid;
    }

    .page-list-link {
      color: $color-text;
    }

    .page-list-cta {
      margin-top: 0.5rem;
    }
  }

}



.footer {

  padding: 2rem 1rem;
  color: $color-text-footer;
  font-size: 0.9rem;
  text-align: center;

  p {
    margin: 1rem;
  }
  
  @include media(tablet_phone) {
    padding: 1rem;
    font-size: 0.8rem;
    p {
      margin: 0.2rem;
    }
  }

}
