{{ define "main" }}
  {{- $language := .Site.Language.Lang }}
  {{- $path_homepage := cond (and .Site.IsMultiLingual (not .Site.Params.contentDir)) (printf "/home/index.%s.md" $language) "/home/index.md" }}
  {{/*  Show header from _index.md file */}}
  <h1 class="home-heading">{{- .Site.Home.Title }}</h1>
  

  {{- with $homepage := .Site.GetPage $path_homepage }}
    {{- range $current_widget := where (sort (.Resources.ByType "page") ".Weight") ".Language.Lang" $language }}
      {{ $widget_id := or .Params.id .Title | strings.ToLower }}
      {{ partial "widgets/common.html" (dict "current_widget" . "widget_id" $widget_id "homepage" $homepage) }}
    {{- end }}
  {{- end }}

{{ end }}
