Debug

<p>
  {{- if .IsHome}}
    ここはホームページ
  {{- else }}
    ここはホームでないページ
  {{- end }}
</p>

<span style="display: inline-flex; align-items:center;">
  <span>SEE ALL</span>
  <i class="fa-solid fa-angle-right"></i>
</span>
<span style="display: inline-flex; align-items:center;">
  <span>すべて見る</span>
  <i class="fa-solid fa-chevron-right"></i>
</span>

<a href="#">SEE ALL <i class="fa-solid fa-angle-right"></i></a>

すべて見る <i class="fa-solid fa-angle-right"></i>

<i class="fa-caret-right fa-solid "></i>

<p>
  {{- $str := "First string."}}
  {{- $str }}
  <br>
  {{- $str = print $str " And second string."}}
  {{- $str }}
</p>