Debug

<p>
  {{- if .IsHome}}
    ここはホームページ
  {{- else }}
    ここはホームでないページ
  {{- end }}
</p>

<p>
  {{- with .Site.GetPage "widgets" }}
    {{- range sort (.Resources.ByType "page") ".Weight" }}
      <div>
        {{ . }}
      </div>
      <div>
        <p>
          {{ .File.ContentBaseName }} 
        </p>
        <h2>
          {{ .Title }}
        </h2>
        <p>
          weight: {{- .Weight }}
        </p>
        <p>
          {{ .Content }}
        </p>
      </div>
      <div>
        {{ $hash_id := replace .File.ContentBaseName "index" (path.Base (path.Split .Path).Dir) }}
        {{- $hash_id }}
      </div>
    {{- end }}
  {{- end }}
</p>