{{- $currentPage := . }}


<nav class="header-menu-container">
  <ul class="header-menu-list">
    {{- range site.Menus.main }}
    {{- $attrs := dict "href" .URL }}
    {{- if $currentPage.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "header-menu-link current-page" "aria-current" "page") }}
    {{- else if $currentPage.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "header-menu-link ancestor-page" "aria-current" "true") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" "header-menu-link") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="header-menu-item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
    </li>
  {{- end }}
  </ul>
</nav>
